<section class="gallery pt-0 pb-90">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <a class="popup-gallery-item" href="assets/images/gallery/1.jpg">
            <img src="assets/images/gallery/1.jpg" alt="gallery img">
          </a>
    </ng-template>  
    <ng-template carouselSlide>
        <a class="popup-gallery-item" href="assets/images/gallery/2.jpg">
            <img src="assets/images/gallery/2.jpg" alt="gallery img">
          </a>
    </ng-template>  
    <ng-template carouselSlide><a class="popup-gallery-item" href="assets/images/gallery/3.jpg">
        <img src="assets/images/gallery/3.jpg" alt="gallery img">
      </a></ng-template> 
    <ng-template carouselSlide><a class="popup-gallery-item" href="assets/images/gallery/4.jpg">
        <img src="assets/images/gallery/4.jpg" alt="gallery img">
      </a></ng-template> 
    <ng-template carouselSlide><a class="popup-gallery-item" href="assets/images/gallery/5.jpg">
        <img src="assets/images/gallery/5.jpg" alt="gallery img">
      </a></ng-template> 
    <ng-template carouselSlide><a class="popup-gallery-item" href="assets/images/gallery/6.jpg">
        <img src="assets/images/gallery/6.jpg" alt="gallery img">
      </a></ng-template>  
  </owl-carousel-o>
</div><!-- /.gallery-images-wrapper -->
</div><!-- /.col-xl-5 -->
</div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /.gallery 2 -->