
.example-container mat-form-field + mat-form-field {
    margin-left: 20px;
    
}
.mdc-text-field--outlined {
 padding-right: 10%;
}

// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

.example-full-width {
  width: 90%;
}

// .example-half-width {
//   min-width: 150px;
//   max-width: 500px;
//   width: 50%;
// }