<div class="wrapper">
  <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-img" style="background-image: url(assets/images/page-titles/2.jpg); background-size: cover; background-position: center center;">
      <!-- <div class="bg-img"><img src="assets/images/page-titles/2.jpg" alt="background"></div> -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
           <h1 class="pagetitle__heading">Services</h1>
            
           
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->
<!-- ========================
        Services Layout 1
    =========================== -->
    <section class="services-layout1 pt-130 bg-img" style="background-image: url(assets/images/backgrounds/2.jpg); background-size: cover; background-position: center center;">
        <!-- <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-60">
                <h2 class="heading__subtitle">The Best Medical And General Practice Care!</h2>
                <h3 class="heading__title">Providing Medical Care For The Sickest In Our Community.</h3>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <!-- service item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-head"></i>
                  <i class="icon-head"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Neurology Clinic</h4>
                  <p class="service__desc">Some neurologists receive subspecialty training focusing on a particular area
                    of
                    the fields, these training programs are called fellowships, and are one to two years.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Neurocritical Care</li>
                    <li>Neuro Oncology</li>
                    <li>Geriatric Neurology</li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-heart"></i>
                  <i class="icon-heart"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cardiology Clinic</h4>
                  <p class="service__desc">All cardiologists study the disorders of the heart, but the study of adult and
                    child heart disorders are trained to take care of small children and adult heart disease.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Neurocritical Care</li>
                    <li>Neuro Oncology</li>
                    <li>Geriatric Neurology</li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-microscope"></i>
                  <i class="icon-microscope"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Pathology Clinic</h4>
                  <p class="service__desc">Pathology is the study of disease, it is the bridge between science and
                    medicine.
                    Also it underpins every aspect of patient care, from diagnostic testing and treatment.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Surgical Pathology</li>
                    <li>Histopathology</li>
                    <li>Cytopathology </li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #4 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-dropper"></i>
                  <i class="icon-dropper"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Laboratory Analysis</h4>
                  <p class="service__desc">Analyzing the radon or radon progeny concentrations with passive devices, or
                    the
                    act of calibrating radon or radon progeny measurement devices.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Newborn Care</li>
                    <li>Umbilical Cord Appearance </li>
                    <li>Repositioning Techniques</li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #5 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-heart3"></i>
                  <i class="icon-heart3"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Pediatric Clinic</h4>
                  <p class="service__desc">Pediatric providers see patients from birth into early adulthood to make sure
                    children achieve stay healthy. Our care includes preventive health checkups.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Clinical laboratory</li>
                    <li>Research Analyst</li>
                    <li>Quality Assurance</li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">
                  <i class="icon-heart2"></i>
                  <i class="icon-heart2"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cardiac Clinic</h4>
                  <p class="service__desc">For people requiring additional follow up, the Cardiac Clinic provides rapid
                    access to professionals specialized in diagnosing and treating heart disease.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Macular degeneration</li>
                    <li>Diabetic retinopathy</li>
                    <li>Excessive tearing</li>
                  </ul>
                  <a routerLink="" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Services Layout 1 -->
  
      <!-- ======================
      Features Layout 2
      ========================= -->
      
      <section class="features-layout2 pt-130 bg-overlay bg-overlay-primary bg-img" style="background-image: url(assets/images/backgrounds/2.jpg); background-size: cover; background-position: center center;">
        <!-- <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
              <div class="heading__layout2 mb-50">
                <h3 class="heading__title color-white">Medcity Has Touched The Lives Of Patients & Providing Care for The
                  Sickest In Our Community.</h3>
              </div>
            </div><!-- /col-lg-5 -->
          </div><!-- /.row -->
          <div class="row mb-100">
            <div class="col-sm-3 col-md-3 col-lg-1 offset-lg-5">
              <div class="heading__icon">
                <i class="icon-insurance"></i>
              </div>
            </div><!-- /.col-lg-5 -->
            <div class="col-sm-9 col-md-9 col-lg-6">
              <p class="heading__desc font-weight-bold color-white mb-30">Medcity has been present in Europe since 1990,
                offering innovative
                solutions, specializing in medical services for treatment of medical infrastructure. With over 100
                professionals actively participates in numerous initiatives aimed at creating sustainable change for
                patients!
              </p>
              <a routerLink="" class="btn btn__white btn__link">
                <i class="icon-arrow-right icon-filled"></i>
                <span>Our Core Values</span>
              </a>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <!-- Feature item #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/1.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-heart"></i>
                  </div>
                  <h4 class="feature__title">Medical Advices & Check Ups</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/2.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-doctor"></i>
                  </div>
                  <h4 class="feature__title">Trusted Medical Treatment </h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/3.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-ambulance"></i>
                  </div>
                  <h4 class="feature__title">Emergency Help Available 24/7</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #4 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/4.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-drugs"></i>
                  </div>
                  <h4 class="feature__title">Medical Research Professionals </h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #5 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/5.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-first-aid-kit"></i>
                  </div>
                  <h4 class="feature__title">Only Qualified Doctors</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #6 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/6.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-hospital"></i>
                  </div>
                  <h4 class="feature__title">Cutting Edge <br> Facility</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #7 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/7.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-expenses"></i>
                  </div>
                  <h4 class="feature__title">Affordable Prices For All Patients</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
            <!-- Feature item #8 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="feature-item">
                <div class="feature__img">
                  <img src="assets/images/services/8.jpg" alt="service" loading="lazy">
                </div><!-- /.feature__img -->
                <div class="feature__content">
                  <div class="feature__icon">
                    <i class="icon-bandage"></i>
                  </div>
                  <h4 class="feature__title">Quality Care For Every Patient</h4>
                </div><!-- /.feature__content -->
                <a routerLink="" class="btn__link">
                  <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div><!-- /.feature-item -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-md-12 col-lg-6 offset-lg-3 text-center">
              <p class="font-weight-bold color-gray mb-0">We hope you will allow us to care for you and strive to be the
                first and best choice for healthcare.
                <a routerLink="" class="color-secondary">
                  <span>Contact Us For More Information</span> <i class="icon-arrow-right"></i>
                </a>
              </p>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Features Layout 2 -->
 <!-- ============ Meet our doctors ============-->
     <app-meet-our-doctors-carousel></app-meet-our-doctors-carousel>
     <!-- ===================================== -->
 <!-- ==========================
        contact layout 3
    =========================== -->
    <section class="contact-layout3 bg-overlay bg-overlay-primary-gradient pb-60 bg-img" style="background-image: url(assets/images/banners/3.jpg); background-size: cover; background-position: center center;">
        <!-- <div class="bg-img"><img src="assets/images/banners/3.jpg" alt="banner"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
              <div class="contact-panel mb-50">
                <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="contact-panel__title">Book An Appointment</h4>
                      <p class="contact-panel__desc mb-30">Please feel welcome to contact our friendly reception staff
                        with any general or medical enquiry. Our doctors will receive or return any urgent calls.
                      </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <i class="icon-widget form-group-icon"></i>
                        <select class="form-control">
                          <option value="0">Choose Clinic</option>
                          <option value="1">Pathology Clinic</option>
                          <option value="2">Pathology Clinic</option>
                        </select>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <i class="icon-user form-group-icon"></i>
                        <select class="form-control">
                          <option value="0">Choose Doctor</option>
                          <option value="1">Ahmed Abdallah</option>
                          <option value="2">Mahmoud Begha</option>
                        </select>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <i class="icon-news form-group-icon"></i>
                        <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                          required>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <i class="icon-email form-group-icon"></i>
                        <input type="email" class="form-control" placeholder="Email" id="contact-email"
                          name="contact-email" required>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="form-group">
                        <i class="icon-phone form-group-icon"></i>
                        <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                          name="contact-phone" required>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="form-group form-group-date">
                        <i class="icon-calendar form-group-icon"></i>
                        <input type="date" class="form-control" id="contact-date" name="contact-date" required>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="form-group form-group-date">
                        <i class="icon-clock form-group-icon"></i>
                        <input type="time" class="form-control" id="contact-time" name="contact-time" required>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-12">
                      <button type="submit" class="btn btn__secondary btn__rounded btn__block btn__xhight mt-10">
                        <span>Book Appointment</span> <i class="icon-arrow-right"></i>
                      </button>
                      <div class="contact-result"></div>
                    </div><!-- /.col-lg-12 -->
                  </div><!-- /.row -->
                </form>
              </div>
            </div><!-- /.col-lg-7 -->
            <div class="col-sm-12 col-md-12 col-lg-5">
              <div class="heading heading-light mb-30">
                <h3 class="heading__title mb-30">Helping Patients From Around the Globe!!</h3>
                <p class="heading__desc">Our staff strives to make each interaction with patients clear, concise, and
                  inviting. Support the important work of Medicsh Hospital by making a much-needed donation today.
                </p>
              </div>
              <div class="d-flex align-items-center">
                <a style="border-radius: 50px; color: black; font-weight: 700; font-size: 15px; padding: 4%;  height: 1%; background-color: white; border-color: #5795d0;" routerLink="/contact-us" class="btn btn__white btn__rounded mr-30">
                  <i class="fas fa-heart"></i> <span>Make A Gift</span>
                </a>
                <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                  <div class="video__player">
                    <i class="fa fa-play"></i>
                  </div>
                  <span class="video__btn-title color-white">Play Video</span>
                </a>
              </div>
              <div class="text__block">
                <p class="text__block-desc color-white font-weight-bold">We provide a comprehensive range of plans for
                  families and individuals at every stage of life, with annual limits ranging from £1.5m to unlimited.</p>
                <div class="sinature color-white">
                  <span class="font-weight-bold">Martin Qube</span><span>, Medcity Manager</span>
                </div>
              </div><!-- /.text__block -->
            
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/1.png" alt="client">
                    <img src="assets/images/clients/1.png" alt="client">
                  </div><!-- /.client -->
                </ng-template>  
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/2.png" alt="client">
                    <img src="assets/images/clients/2.png" alt="client">
                  </div><!-- /.client -->
                </ng-template>  
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/3.png" alt="client">
                    <img src="assets/images/clients/3.png" alt="client">
                  </div><!-- /.client -->
                </ng-template> 
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/4.png" alt="client">
                    <img src="assets/images/clients/4.png" alt="client">
                  </div><!-- /.client -->
                </ng-template> 
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/5.png" alt="client">
                    <img src="assets/images/clients/5.png" alt="client">
                  </div><!-- /.client -->
                </ng-template> 
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/6.png" alt="client">
                    <img src="assets/images/clients/6.png" alt="client">
                  </div><!-- /.client -->
                </ng-template> 
                <ng-template carouselSlide>
                  <div class="client">
                    <img src="assets/images/clients/7.png" alt="client">
                    <img src="assets/images/clients/7.png" alt="client">
                  </div><!-- /.client -->
                </ng-template>  
              </owl-carousel-o>
          
            </div><!-- /.col-lg-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.contact layout 3 -->

        <!-- ============  Testimonials layout 2 ============-->
        <app-inspiring-stories></app-inspiring-stories>
        <!-- =========================== -->
  
      <!-- ========================-->
        <app-image-carousel></app-image-carousel>
     <!-- =========================== -->
      
    </div>

  
    
   
   