<!-- ======================
      Team
    ========================= -->
    <div class="wrapper">
    <section class="team-layout2 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h3 class="heading__title">Meet Our Doctors</h3>
              <p class="heading__desc">Our administration and support staff all have exceptional people skills and
                trained to assist you with all medical enquiries.
              </p>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide> 
      <!-- Member #1 -->
      <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d1.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Chezhian Subash</a></h5>
          <p class="member__job">Consultant Haematologist</p>
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
    <ng-template carouselSlide>
      <!-- Member #2 -->
      <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d2.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Shishir Seth</a></h5>
          <p class="member__job">Bone Marrow Transplant</p>
           <!-- <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
            <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div> -->
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
    <ng-template carouselSlide>
      <!-- Member #3 -->
      <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d3.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Sunil Bhat</a></h5>
          <p class="member__job">Paediatric Hematology</p>
          
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
    <ng-template carouselSlide>
      <!-- Member #4 -->
      <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d4.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Sunil Kumar Gupta</a></h5>
          <p class="member__job">Director & HOD Medical Oncology</p>
          
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
    <ng-template carouselSlide>
      <!-- Member #5 -->
      <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d5.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Dharma Choudhary</a></h5>
          <p class="member__job">Bone Marrow Transplant</p>
          
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
    <ng-template carouselSlide>
       <!-- Member #6 -->
       <div class="member">
        <div class="member__img">
          <img src="assets/images/team/d6.png" alt="member img">
        </div><!-- /.member-img -->
        <div class="member__info">
          <h5 class="member__name"><a routerLink="">Dr. Pawan Kumar Singh</a></h5>
          <p class="member__job">Consultant</p>
          
        </div><!-- /.member-info -->
      </div><!-- /.member -->
    </ng-template>  
  </owl-carousel-o>
</div><!-- /.carousel -->
</div><!-- /.col-12 -->
</div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /.Team -->
</div>

