 <!-- ======================
     Work Process 
    ========================= -->

      <section class="work-process work-process-carousel pt-130 pb-0 bg-overlay bg-overlay-secondary">
        <!-- <div class="bg-img"><img src="assets/images/banners/1.jpg" alt="background"></div> -->
        <div class="container">
          <div class="row heading-layout2">
            <div class="col-12">
              <h2 class="heading__subtitle color-dark2">Caring For The Health Of You And Your Family.</h2>
            </div><!-- /.col-12 -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
              <h3 class="heading__title color-white">Why choose us?
              </h3>
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-1">
              <p class="heading__desc font-weight-bold color-gray mb-40">Choose Magnus Medi as your trusted medical tourism partner and experience the benefits of our accredited services, comprehensive solutions, seamless experience, and innovative software.
              </p>
              <!-- <ul class="list-items list-items-layout2 list-items-light list-horizontal list-unstyled">
                <li>Fractures and dislocations</li>
                <li>Health Assessments</li>
                <li>Desensitisation injections</li>
                <li>High Quality Care</li>
                <li>Desensitisation injections</li>
              </ul> -->
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="carousel-container mt-15">
                <div class="slick-carousel"
                  data-slick='{"slidesToShow": 3, "infinite":false, "arrows": false, "dots": false, "responsive": [{"breakpoint": 1200, "settings": {"slidesToShow": 3}}, {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                  
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <!-- process item #1 -->
          <div class="process-item">
            <span class="process__number">01</span>
            <div class="process__icon">
              <i class="icon-health-report"></i>
            </div><!-- /.process__icon -->
            <h4 class="process__title">Accreditation</h4>
            <p class="process__desc">We are the only company in India accredited by both NABH and IATA, reflecting our commitment to quality and excellence in on-ground services for medical tourism facilitators.</p>
            <a href="#" class="btn btn__secondary btn__link">
              <span>Doctors’ Timetable</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.process-item -->
        </ng-template>  
        <ng-template carouselSlide>
           <!-- process-item #2 -->
           <div class="process-item">
            <span class="process__number">02</span>
            <div class="process__icon">
              <i class="icon-dna"></i>
            </div><!-- /.process__icon -->
            <h4 class="process__title">Comprehensive Solutions</h4>
            <p class="process__desc">As a comprehensive end-to-end B2B company, we specialize in patient management services, ensuring that your patients receive high-quality treatments and services. We take care of all aspects of their medical journey, including travel arrangements, accommodation, visa assistance, and effective communication with medical providers.</p>
            <a href="#" class="btn btn__secondary btn__link">
              <span>Start A Check Up</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.process-item -->
        </ng-template>  
        <ng-template carouselSlide>
          <!-- process-item #3 -->
          <div class="process-item">
            <span class="process__number">03</span>
            <div class="process__icon">
              <i class="icon-medicine"></i>
            </div><!-- /.process__icon -->
            <h4 class="process__title">Seamless Experience</h4>
            <p class="process__desc">Our mission is to make the medical tourism process as seamless as possible for both patients and facilitators. We manage all operational tasks, from medical appointments to travel arrangements and post-operative care, resulting in improved patient satisfaction, reduced inquiries, and enhanced overall service quality.</p>
            <a href="#" class="btn btn__secondary btn__link">
              <span>Explore Programs</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.process-item -->
        </ng-template>  
        <ng-template carouselSlide>
          <!-- process-item #4 -->
          <div class="process-item">
            <span class="process__number">04</span>
            <div class="process__icon">
              <i class="icon-stethoscope"></i>
            </div><!-- /.process__icon -->
            <h4 class="process__title">Simplify MVT Software</h4>
            <p class="process__desc">We proudly offer Simplify MVT, a comprehensive software solution designed to make your medical tourism journey hassle-free. Whether you are a hospital, facilitator, travel company, operator, or agent, Simplify MVT caters to your diverse business needs, providing a one-stop destination for all your medical tourism requirements.</p>
            <a href="#" class="btn btn__secondary btn__link">
              <span>Meet Our Doctors</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.process-item -->
        </ng-template>  
      </owl-carousel-o>
    </div><!-- /.carousel -->
  </div>
</div><!-- /.col-12 -->
</div><!-- /.row -->
</div><!-- /.container -->
<div class="cta bg-light-blue">
<div class="container">
<div class="row align-items-center">
  <div class="col-sm-12 col-md-2 col-lg-2">
    <img src="assets/images/icons/syringe.png" alt="alert">
  </div><!-- /.col-lg-2 -->
  <div class="col-sm-12 col-md-7 col-lg-7">
    <h4 class="cta__title">Providing Care For The Sickest In Community.</h4>
    <p class="cta__desc">Serve the community by improving the quality of life through better health. We have
      put protocols to protect our patients and staff while continuing to provide medically necessary care.
    </p>
  </div><!-- /.col-lg-7 -->
  <div class="col-sm-12 col-md-3 col-lg-3">
    <a href="appointment.html" class="btn btn__primary btn__secondary-style2 btn__rounded">
      <span>Healthcare Programs</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div><!-- /.col-lg-3 -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.cta -->
</section><!-- /.Work Process -->
  