<div class="wrapper">
<!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-img" style="background-image: url(assets/images/page-titles/1.jpg); background-size: cover; background-position: center center;" >
        <!-- <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
              <h1 class="pagetitle__heading">About Us</h1>
              
            </div><!-- /.col-xl-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
    </div>