<!-- ========================
        Services Layout 1
    =========================== -->
<section  style="background-image: url(assets/images/backgrounds/2.jpg); background-size: cover; background-position: center center;">
  <!-- <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center mb-60">
          <h2 class="heading__subtitle">All Treatment under one roof</h2>
          <h3 class="heading__title">Medical Treatments in India</h3>
        </div>
        <!-- /.heading -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-12">
        <div
          class="slick-carousel"
          data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'
        >
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <!-- service item #1 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/1.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cancer</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Breast Cancer</li>
                    <li>Blood Cancer</li>
                    <li>Cervix Cancer</li>
                    <li>Liver Cancer</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #2 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/2.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cardiology</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>VSD (Ventricular Septal Defect)</li>
                    <li>Permanent Pacemaker</li>
                    <li>Angiography</li>
                    <li>Angioplasty</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #3 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/3.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Transplants</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Liver Transplant</li>
                    <li>Bone Marrow Transplant</li>
                    <li>Kidney Transplant</li>
                    <li>Heart Transplant</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #4 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/4.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Neurology</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Brain Tumor</li>
                    <li>Brain Haemorrhage</li>
                    <li>Craniotomy Surgery</li>
                    <li>Blood Clot Brain Surgery</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #5 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/5.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Orthopaedic</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Ankle Arthroscopy</li>
                    <li>Knee Replacement</li>
                    <li>Shoulder Replacement</li>
                    <li>Hip Replacement</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #6 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/6.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Urology</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Pyeloplasty</li>
                    <li>Gender Reassignment Surgery</li>
                    <li>TURP surgery</li>
                    <li>Green Light Laser</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #7 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/7.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Gynaecology</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Fibroids</li>
                    <li>Adhesion surgery</li>
                    <li>Male Infertility</li>
                    <li>IVF</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
            <ng-template carouselSlide>
              <!-- service item #8 -->
              <div class="service-item">
                <div class="service__icon">
                  <img src="assets/images/icons/8.png" class="ser-icon" />
                </div>
                <!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Spine Surgery</h4>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Spinal Surgery</li>
                    <li>Spinal Cord Injury</li>
                    <li>Spine Tumour</li>
                    <li>Spinal Stenosis</li>
                  </ul>
                  <a
                    href="services-single.html"
                    class="btn btn__secondary btn__outlined btn__rounded"
                  >
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
                <!-- /.service__content -->
              </div>
              <!-- /.service-item -->
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
