<div class="wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="assets/images/sliders/1.png" alt="slide img">
    </ng-template>  
  </owl-carousel-o>
 <!-- ============================
        contact info
    ============================== -->
    <section class="contact-info py-0">
      <div class="container">
        <div class="row row-no-gutter boxes-wrapper">
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <img src="assets/images/icons/consulting.png" style="max-width: 80%;">
              </div>
              <div class="contact__content">
                <h2 class="contact__title">Comprehensive Network of Healthcare Providers</h2>
                <!-- <a href="tel:+201061245741" class="phone__number">
                  <i class="icon-phone"></i> <span>01061245741</span>
                </a> -->
              </div><!-- /.contact__content -->
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <img src="assets/images/icons/task.png" style="max-width: 80%;">
              </div>
              <div class="contact__content">
                
                <h2 class="contact__title">Streamlined Patient Experience</h2>
                <!-- <a href="doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded">
                  <span>View Timetable</span><i class="icon-arrow-right"></i>
                </a> -->
              </div><!-- /.contact__content -->
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <img src="assets/images/icons/patient.png" style="max-width: 80%;">
              </div>
              <div class="contact__content">
                <h2 class="contact__title">Quality Assurance and Patient Safety</h2>
                <!-- <p class="contact__desc">After the patient has undergone the medical treatment, the medical tourism service provider will provide follow-up care and support. This includes ensuring that the patient receives the necessary post-treatment care and medication. The provider will also coordinate with the medical facility to obtain medical records and share them with the patient's local physician. They will provide ongoing support to the patient and their family throughout the recovery period.</p>
               -->
              </div><!-- /.contact__content -->
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact-info -->
  </div>

 
  