<div class="wrapper">
<section  style="background-image: url(assets/images/backgrounds/2.jpg); background-size: cover; background-position: center center;" class=" bg-img features-layout2 pt-130 bg-overlay bg-overlay-primary">
    <!-- <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10">
          <div class="heading__layout2 mb-50">
            <h3 class="heading__title color-white dark-color-2">Magnus Medi has revolutionized the medical tourism industry by making a significant impact on both medical tourism facilitators and healthcare providers.</h3>
          </div>
        </div><!-- /col-lg-5 -->
      </div><!-- /.row -->
      <div class="row">
        <!-- Feature item #1 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
            <!-- <div class="feature__img">
              <img src="assets/images/services/1.jpg" alt="service" loading="lazy">
            </div> -->
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-heart"></i>
              </div>
              <h4 class="feature__title">Share your medical history</h4>
              <p class="m-para">It is important to share your medical history with your doctors to get the best <br>treatment plan.</p>
             
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #2 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
            <!-- <div class="feature__img">
              <img src="assets/images/services/2.jpg" alt="service" loading="lazy">
            </div> -->
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-doctor"></i>
              </div>
              <h4 class="feature__title">Get multiple opinions</h4>
              <p class="m-para">It is always a good idea to get multiple opinions from different doctors to ensure you are making the best decision for your health.</p>
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #3 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
            
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-ambulance"></i>
              </div>
              <h4 class="feature__title">Compare treatment plans and costs</h4>
              <p class="m-para">Research different treatment plans and compare the costs to determine the best <br>option for you.</p>
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #4 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
           
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-drugs"></i>
              </div>
              <h4 class="feature__title">Finalize travel and stay arrangements</h4>
              <p class="m-para">Plan your trip and make sure to take care of all necessary travel and stay arrangements, including visas.</p>
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #5 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
            
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-first-aid-kit"></i>
              </div>
              <h4 class="feature__title">Get the treatment done</h4>
              <p class="m-para">Once you have decided on a treatment plan, make sure to follow through with <br>the treatment.</p>
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #6 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="feature-item">
            
            <div class="feature__content">
              <div class="feature__icon">
                <i class="icon-hospital"></i>
              </div>
              <h4 class="feature__title">Stay in touch with the experts</h4>
              <p class="m-para">After your treatment, it is important to stay in touch with your medical team for any follow-up care or advice.</p>
            </div><!-- /.feature__content -->
            <!-- <a href="#" class="btn__link">
              <i class="icon-arrow-right icon-outlined"></i>
            </a> -->
          </div><!-- /.feature-item -->
        </div><!-- /.col-lg-3 -->
        <!-- Feature item #8 -->
        
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-12 col-lg-6 offset-lg-3 text-center">
          <p class="font-weight-bold color-gray mb-0">We hope you will allow us to care for you and strive to be the
            first and best choice for healthcare.
            <a href="#" class="color-secondary">
              <span>Contact Us For More Information</span> <i class="icon-arrow-right"></i>
            </a>
          </p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Features Layout 2 -->

</div>