<!-- ========================= 
          Testimonials layout 2
          =========================  -->
          <div class="wrapper">
<section class="testimonials-layout2 pt-130 pb-40">
  <div class="container">
    <div class="testimonials-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5">
          <div class="heading-layout2">
            <h3 class="heading__title">Success Stories</h3>
            <p class="heading__desc">
              1000+ Trusted by Patients from over 30 Countris
            </p>
          </div>
          <!-- /.heading -->
        </div>
        <!-- /.col-lg-5 -->
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="slider-with-navs">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <!-- Testimonial #1 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">
                    “We The Team From Khandaker Medical Tourism Would Like To
                    Apprise You All About Simplifymvt’s Services And Uniqueness.
                    We Are Very Happy To Connected With The Medical Tourism
                    Service Provider That Offers A Wide Range Of Services, We
                    Had Been Looking For...”
                  </h3>
                  <!-- <h3 class="testimonial__title">“The best at what they do right from helping us I identify the most suitable hospitals great accommodation that's budget friendly to tickets advice and booking. The airport experience was very smooth because someone had been arranged to pick us up from inside help...”
        </h3> -->
                </div>
                <div>
                  <h4 class="testimonial__meta-title">Mr. Sitabur Rahman</h4>
                  <p class="testimonial__meta-desc">
                    Khandaker Medical Tourism
                  </p>

                  <!-- <h4 class="testimonial__meta-title">Mrs. Amalo Lillian</h4>
        <p class="testimonial__meta-desc">Uganda</p> -->
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">
                    “Shinon, I Believe Was Amongst The First To Adopt Simplify
                    And We Are Really Glad That We Did Specially During The
                    Difficult Covid Times. We Were Able To Save On Human
                    Resources Cost And Yet Build Efficiency Into Our Systems.”
                  </h3>
                  <!-- <h3 class="testimonial__title">“Mihir and the team treated us like family and really took good care of us when we traveled to seek dad's medical treatment in India. Arranged for everything including airport transfers, travel, and accommodation while in Mumbai”
        </h3> -->
                </div>
                <div>
                  <h4 class="testimonial__meta-title">Mr. Vinay Aggarwal</h4>
                  <p class="testimonial__meta-desc">
                    Co Founder & Managing Director
                  </p>

                  <!-- <h4 class="testimonial__meta-title">Mr. Barrack Sabaya</h4>
        <p class="testimonial__meta-desc">Kenya</p> -->
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>