
 <!-- ======================
      Team
    ========================= -->
    <section class="team-layout2 pb-80">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-40">
                <h3 class="heading__title">Meet Our Doctors</h3>
                <p class="heading__desc">Our administration and support staff all have exceptional people skills and
                  trained to assist you with all medical enquiries.
                </p>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <!-- Member #1 -->
                        <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/2.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Mike Dooley</a></h5>
                              <p class="member__job">Cardiology Specialist</p>
                              <p class="member__desc">Muldoone obtained his undergraduate degree in Biomedical Engineering at Tulane
                                University prior to attending St George's University School of Medicine</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                    <ng-template carouselSlide>
                        <!-- Member #2 -->
                        <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/2.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Dermatologists</a></h5>
                              <p class="member__job">Cardiology Specialist</p>
                              <p class="member__desc">Brian specializes in treating skin, hair, nail, and mucous membrane. He also
                                address cosmetic issues, helping to revitalize the appearance of the skin</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                    <ng-template carouselSlide>
                        <!-- Member #3 -->
                        <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/3.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Maria Andaloro</a></h5>
                              <p class="member__job">Pediatrician</p>
                              <p class="member__desc">Andaloro graduated from medical school and completed 3 years residency program
                                in pediatrics. She passed rigorous exams by the American Board of Pediatrics.</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                    <ng-template carouselSlide>
                        <!-- Member #4 -->
                        <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/4.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Dupree Black</a></h5>
                              <p class="member__job">Urologist</p>
                              <p class="member__desc">Black diagnose and treat diseases of the urinary tract in both men and women.
                                He
                                also diagnose and treat anything involving the reproductive tract in men.</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                    <ng-template carouselSlide>
                         <!-- Member #5 -->
                         <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/5.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Markus skar</a></h5>
                              <p class="member__job">Laboratory</p>
                              <p class="member__desc">Skar play a very important role in your health care. People working in the
                                clinical laboratory are responsible for conducting tests that provide crucial information.</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                    <ng-template carouselSlide>
                        <!-- Member #6 -->
                        <div class="member">
                            <div class="member__img">
                              <img src="assets/images/team/6.jpg" alt="member img">
                            </div><!-- /.member-img -->
                            <div class="member__info">
                              <h5 class="member__name"><a routerLink="">Kiano Barker</a></h5>
                              <p class="member__job">Pathologist </p>
                              <p class="member__desc">Barker help care for patients every day by providing their doctors with the
                                information needed to ensure appropriate care. He also valuable resources for other physicians.</p>
                              <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                                <a routerLink="" class="btn btn__secondary btn__link btn__rounded">
                                  <span>Read More</span>
                                  <i class="icon-arrow-right"></i>
                                </a>
                                <ul class="social-icons list-unstyled mb-0">
                                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                              </div>
                            </div><!-- /.member-info -->
                          </div><!-- /.member -->
                    </ng-template>  
                  </owl-carousel-o>

              </div><!-- /.carousel -->
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Team -->

<!-- --------------------------------------------------------------------
------------------------------------------------------------------------------
--------------------------------------------------------------- -->
  

