<!-- ========================
      About Layout 2
    =========================== -->
    <section class="about-layout2 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
              <div class="heading-layout2">
                <h3 class="heading__title mb-60">Improving The Quality Of Your <br> Life Through Better Health.</h3>
              </div><!-- /heading -->
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
              <div class="text-with-icon">
                <div class="text__icon">
                  <i class="icon-doctor"></i>
                </div>
                <div class="text__content">
                  <p class="heading__desc font-weight-bold color-secondary mb-30">Our goal is to deliver quality of care
                    in a courteous, respectful, and
                    compassionate manner. We hope you will allow us to care for you and strive to be the first and best
                    choice for healthcare.
                  </p>
                  <a  style="background-color: #3EBAEC; border-radius: 50px; color: white; font-weight: 700; font-size: 15px; padding: 5%;height: 20%;" href="#" class="btn btn__secondary btn__rounded mb-70">
                    <span>Get In Touch</span> <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div>
              <div class="video-banner-layout2 bg-overlay">
                <img src="assets/images/about/2.jpg" alt="about" class="w-100">
                <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=kHj1dd0qy3k">
                  <div class="video__player">
                    <i class="fa fa-play"></i>
                  </div>
                  <span class="video__btn-title color-white">Watch Our Video!</span>
                </a>
              </div><!-- /.video-banner -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
              <div class="about__text bg-white">
                <p class="heading__desc mb-30">Magnus Medi is a distinguished provider of on-ground services to medical tourism facilitators in India. As a comprehensive end-to-end B2B company, we specialise in patient management services for medical tourism companies. We take pride in being the only company in India accredited by both NABH (National Accreditation Board for Hospitals & Healthcare Providers) and IATA (International Air Transport Association).
                </p>
                <p class="heading__desc mb-30">At Magnus Medi, we are dedicated to being your trusted medical tourism partner. Our primary focus is to ensure that your patients high-quality treatments and services. We go above and beyond by coordinating all aspects of their medical journey, including travel arrangements, accommodation, visa assistance, and effective communication with medical providers. With our expertise and commitment, we strive to make the medical tourism experience seamless and successful for all involved.</p>
                <p class="heading__desc mb-30">We aim to enhance the process by managing all operational tasks, ensuring a hassle-free experience for medical tourists as they navigate their medical journey. We provide end-to-end medical appointments, travel arrangements, and post-operative care. This comprehensive approach improves patient satisfaction and hospital response, reduces time spent on patient inquiries, and enhances the overall quality of service provided.</p>
                <p class="heading__desc mb-30">As part of our commitment to excellence and innovation, Magnus Meditourism proudly announces that SimplifyMVT is our subsidiary firm. SimplifyMVT It is a comprehensive software designed to make your journey in Medical Tourism seamless and hassle-free! It is the one-stop destination for all your Medical Tourism needs know more about SimplifyMVT</p>
                <p class="heading__desc mb-30">Whether you are a Hospital, Facilitator, Travel & Tour Company / Operator or Agent, it will
                  serve your diverse business needs with ease.</p>
              </div>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.About Layout 2 -->